# Environments
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
logs/
*.log

# Distribution / Build
dist/
build/

#database
Dataset/
